html,
body {
	font-family: 'OpenRunde', sans-serif;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenRunde';
	src: local('/fonts/OpenRunde/OpenRunde-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
